.slick-slide img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.slick-slide img:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.74);
  border-radius: 12px;
  /* margin-top: 50px !important; */
}

/* .slick-prev:before,
.slick-next:before {
  color: #000;
}  */

.slick-slide {
  /* margin: 0px 20px; */
  padding: 20px;
  /* height: 50vh !important;  */
  /* background-color: red; */
}
.slick-track{
  padding: 20px;
  /* background-color: black; */
  border-bottom: 2px solid gray;
}
.slick-list{
  /* background-color: blue; */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh !important;
}

button {
  /* display: none !important; */
}

.slick-slide > div {
  margin: 0px 15px;
  text-align: center;
}

.slick-active {
  transition: transform 0.3s ease-in-out;
}

.slick-active > div {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media (max-width:1000px){
  .slick-list{
    height: 30vh !important;
  }
}
@media (max-width:786px){
  .slick-list{
    height: 40vh !important;
  }
}
